@using MySolution.WebApi.Services.Accounts.Entities
@using MySolution.WebApi.Services.Accounts.Models
@model (SendVerificationCodeForm Form, string Subject, string Code, User User)
@{
    Layout = "Email/_Layout";
}
@section Title {
    <title>@(Model.Subject)</title>
}
<tr>
    <td class="content-area">
        <h2 class="action-title">@Model.Subject</h2>
        <p class="main-message">
            Hi <b>@Model.User.FirstName</b>,<br>
            Use the verification code below to @Model.Subject.ToLowerInvariant().<br>
            This code will expire in <strong>15 minutes</strong> for security reasons.
        </p>

        <div class="code-container">
            <div class="code">@Model.Code</div>
        </div>

        <p class="main-message" style="margin-top: 24px;">
            If you didn't request this, you can safely ignore this email.
        </p>

        <p class="info">
            <span class="warning">Never share this code with anyone.</span><br>
            Our team will never ask for your verification code.
        </p>

        <div class="spacer"></div>
    </td>
</tr>